<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
          <h5 class="mb-0">Editar Tarefa</h5>
        </div>

        <div class="card-body">
          <%= render 'form' %>
        </div>
      </div>

      <div class="text-end mt-3">
        <%= link_to 'Voltar', tasks_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
