<main class="container d-flex flex-column justify-content-center align-items-center flex-grow-1 text-center" style="min-height: calc(100vh - 136px);">
  <h1 class="mb-4 text-primary fw-bold">Bem-vindo à To-Do List App</h1>
  <p class="lead mb-5">Organize suas tarefas com simplicidade e praticidade.</p>

  <div class="d-flex gap-3">
    <%= link_to 'Entrar', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Cadastrar-se', new_user_registration_path, class: 'btn btn-outline-primary btn-lg' %>
  </div>
</main>
